*,
*::before,
*::after {
  box-sizing: border-box;

}
body {text-align: center;
padding: 0px 0px 0px 0px} 
  
html {
background: url(main_background.jpg) no-repeat center center;

min-height: 100%;
background-size: cover;
} 

body a{
    display: inline-block;
    vertical-align: middle;
    width: 89px;
    height: 29px; 
    padding: 0px;
    float:left
   }
body h1{
    font-size: 80px;
    font-family: arial;
    color: #ffffff;
}

.my_col{
    position: relative;
    padding: 10px 20px 30px 40px;
}



