<!DOCTYPE html>
<html lang='ru'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    <href = icon.png измени на ^ свою иконку во вкладке -->
    <title>ТавриДиво</title>

	<link rel="stylesheet" href="static/css/my_pes.css">
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<link rel="stylesheet" href="static/fonts/stylesheet.css">
	<script type="text/javascript" src="static/js/bootstrap.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js"></script>
</head>
<body>

<div class=header>
    <a href = '/home'><img src = "static/icons/back.png" width="100" height="100" left = 100%> </a>
    <div class="My person">
        <h1>Всем привет, меня зовут USERNAME</h1>
        <p>Я играю в ТавриДиво NFT ококло 3 недель и мне нравится то, что можно изучать город и при этом собирать интересные карточки</p>
    </div>
    <div class="My person img">
        <img src="static/icons/pers.png" width="430", height="650">
    
    </div>
</div>       
</body>
</html>
    
