<!DOCTYPE html>
<html lang='ru'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    <href = icon.png измени на ^ свою иконку во вкладке -->
    <title>Таври Диво</title>

	<link rel="stylesheet" href="static/css/trade.css">
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<link rel="stylesheet" href="static/fonts/stylesheet.css">
	<script type="text/javascript" src="static/js/bootstrap.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js"></script>
</head>
<body>
    <a href = '/home'><img src = "static/icons/back.png" width="100" height="100" left = 100%> </a>
    <div class = head>
        <h1> Приветсвуем вас на торговой площадке здесь вы сможете купить нужные вам карточки </h1>
    </div>
    <div class = text>
        <h1> Карточка памятника затопленнымм кораблям </h1>
                <img src=static/icons/korabli.png width="430" height="600">
        <h2> Описание: 
            Редкость: раритетная,
         Коллекция: день победы,
         Услуга: скидка 50%</h2>
    </div>
        <button> Купить </button>
        <br><br><br><br>
    <div class="text">
        <h1> Карточка константиновской батареи </h1>
        <img src=static/icons/kons.png width="430" height="600">
        <h2> Описание: Редкость редкая
         Коллекция: оборона
         Услуга: скидка 75%</h2>
    </div>
        <button> Купить </button>
        <br><br><br><br>
    <div class="text">
        <h1> Карточка михайловской батареи </h1>
        <img src=static/icons/mikh.png width="430" height="600">
        <h2> Описание: Редкость мифическая
         Коллекция: оборона
         Услуга: Бесплатно</h2>
        <button> Купить </button>
    </div>
</body>
</html>